<div class="jumbotron">
	<h1>ArtistFinder</h1>
	<br>
	<p>ArtistFinder is a Ruby on Rails app which helps you to search for your favourite music artists and get recomendations for similar artists.</p>
</div>
