<div class="jumbotron">
	<div class="panel-heading"><h1>ArtistFinder</h1></div>
	<br>
	<p>Search for your favourite music artists and get recomendations for similar artists.</p>
	<br>
	<p class="text-center">
		<%= link_to "Start searching now", new_user_registration_path, class: "btn btn-primary btn-lg", role: "button" %>
	</p>
</div>
